body {
	margin: 0;
	overflow: hidden;
	background: #ffffff;
}

canvas {
	width: 100%;
	height: 100%;
}

.animationControlsContainer {
	padding: 5px;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	bottom: 5px;
	display: inline-flex;
	width: 100%;
	height: 55px;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	z-index: 10;
}

.animationControlsContainer .currentTimeAnimation {
	color: #ffffff;
	font-size: 13px;
	font-family: Consolas, monospace;
	margin: 0 15px;
}

.animationControlsContainer .playButton {
	margin-top: -3px;
	color: #ffffff;
	cursor: pointer;
	user-select: none;
}

.animationControlsContainer .animationSlider {
	-webkit-appearance: none;
	margin: 0;
	width: 100%;
}

.animationControlsContainer .animationSlider:focus {
	outline: none;
}

.animationControlsContainer .animationSlider::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	background-color: white;
	cursor: pointer;
	border-radius: 1.3px;
}

.animationControlsContainer .animationSlider::-webkit-slider-thumb {
	width: 10px;
	height: 10px;
	background: #0097d5;
	border: 1px solid #ffffff;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	-webkit-appearance: none;
	margin-top: -4px;
}

.animationControlsContainer .animationSlider:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}

.animationControlsContainer .animationSlider::-moz-range-track {
	width: 100%;
	height: 2px;
	background-color: white;
	cursor: pointer;
	border-radius: 1.3px;
}

.animationControlsContainer .animationSlider::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
	border: 1px solid #ffffff;
	border-radius: 10px;
	height: 10px;
	width: 10px;
	background: #0097d5;
	cursor: pointer;
}

.animationControlsContainer .animationSlider::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

.animationControlsContainer .animationSlider::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

.animationControlsContainer .animationSlider::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
}

.animationControlsContainer .animationSlider::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
	border: 1px solid #ffffff;
	border-radius: 10px;
	height: 10px;
	width: 10px;
	background: #0097d5;
	cursor: pointer;
}

.animationControlsContainer .animationSlider:focus::-ms-fill-lower {
	background: #ffffff;
}

.animationControlsContainer .animationSlider:focus::-ms-fill-upper {
	background: #ffffff;
}
